body{
    border: 3px solid rgb(13, 9, 91);
    height: 95vh;
    font-family: sans-serif;
}
header {
    padding: 1px;
    background-color: rgb(13, 9, 91);
    margin-bottom: 20px;
}
h1 {
    color: white;
    border: none;
    text-align: center;
    padding: 5px;
    font-family: sans-serif;
}
h2 {
    color: rgb(13, 9, 91);
    border: none;
    text-align: center;
    font-family: sans-serif;
    font-size: 30px ;
}
div{
    display: grid;
    justify-content: center;
    padding: 20px;
    font-family: sans-serif;
    font-size: 25px;
    color: rgb(13, 9, 91);
}
th, td {
    border: 1px solid rgb(13, 9, 91);
    padding: 10px;
}
table {
    border: 1px solid rgb(13, 9, 91);
}
p{
    margin: 0px;
}
button{
    padding: 10px;
    text-align: center;
    width: 150px;
    background-color: rgb(13, 9, 91);
    color: white;
    border-color: white;
    border-radius: 13px;
    font-size: 20px;
    margin-bottom: 10px;
}